
<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <%= form_with(model: task, local: true,html: { class: "form" })  do |form| %>
        <% if task.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

            <ul>
            <% task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :task_name, class: 'col-md-12', style: "color:white" %>
            <%= form.text_field :task_name, id: :task_task_name, class:'form-control', placeholder:'do laundry.....' %>
        </div>

        <div class="form-group">
          <%= form.label :user_name, class: 'col-md-12'%>
            <%= form.text_field :user_name, id: :task_user_name, readonly:true, class:'form-control', value: session[:username] %>
        </div>

        <br>
          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Save Task</button>
    <% end %>
    </div>
  </div>
</div>